[Desktop Entry]
Encoding=UTF-8
Name=Ldap Editor utility
Comment=Ldap Editor utility
Exec=/usr/local/bin/LdapEditorApp
Icon=LdapEditorApp
Categories=Utilities;Qt;LdapEditor;
Terminal=false
Type=Application
MimeType=application/x-ldapeditor-item;
GenericName=Ldap Editor utility

