[Desktop Entry]
Encoding=UTF-8
Name=LDAP Editor utility
Comment=LDAP Editor utility
Exec=/usr/local/bin/LdapEditorApp
Icon=LdapEditorApp
Categories=Utility;Qt
Terminal=false
Type=Application
MimeType=application/x-ldapeditor-item;
GenericName=LDAP Editor utility

